<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Election</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
    <link href="https://unpkg.com/mvp.css@1.12/dist/mvp.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <%- include('navbar.ejs') %>

       
    <div class="flex flex-col items-center justify-center px-6 w-full mt-4">
        <div class="md:w-1/2 w-full bg-white rounded-lg shadow border md:mt-0 xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <p class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Edit Election
                </p>
                <form id="editElectionForm" class="space-y-4">
                    <div>
                        <label for="state" class="block mb-2 text-sm font-medium text-gray-900">State</label>
                        <input type="text" required name="state" id="state"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                            required value="<%= election.state %>">
                    </div>
                    <div>
                        <label for="totalSeats" class="block mb-2 text-sm font-medium text-gray-900">Total Seats</label>
                        <input type="number" required name="totalSeats" id="totalSeats"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                            required value="<%= election.totalSeats %>">
                    </div>
                    <div>
                        <label for="declaredSeats" class="block mb-2 text-sm font-medium text-gray-900">Declared Seats</label>
                        <input type="number" required name="declaredSeats" id="declaredSeats"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                            required value="<%= election.declaredSeats %>">
                    </div>
                    <div>
                        <label for="halfWayMark" class="block mb-2 text-sm font-medium text-gray-900">Halfway Mark</label>
                        <input type="number" required name="halfWayMark" id="halfWayMark"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                            required value="<%= election.halfWayMark %>">
                    </div>
                    <div>
                        <label for="parties" class="block mb-2 text-sm font-medium text-gray-900">Parties</label>
                        <div id="parties" class="space-y-2">
                            <table class="w-full">
                                <thead>
                                    <tr>
                                        <th class="text-left">Party Name</th>
                                        <th class="text-left">Seats Won</th>
                                        <th class="text-left">Leading</th>
                                        <th class="text-left">Party Color</th>
                                        <th class="text-left">Subparties</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% election.parties.forEach((party, index)=> { %>
                                        <tr id='party_<%= index %>'>
                                            <td><%= party.name %></td>
                                            <td><%= party.won %></td>
                                            <td><%= party.leading || '-' %></td>
                                            <td><%= party.partyColor || '-' %></td>
                                            <td>
                                                <% if (party.subParties && party.subParties.length > 0) { %>
                                                    <%= party.subParties.map(sub => `${sub.name} (${sub.seats}, ${sub.leading}, ${sub.partyColor})`).join(", ") %>
                                                <% } else { %>
                                                    None
                                                <% } %>
                                            </td>
                                            <td class="text-right">
                                                <button type="button" onclick="editParty(this, '<%= index %>')"
                                                    class="bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-green-800 text-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                                    </svg>
                                                </button>
                                                <button type="button" onclick="removeParty(this, '<%= index %>')"
                                                    class="bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-red-800 text-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                            <button type="button" onclick="showAddPartyDialog()"
                                class="bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-blue-800 text-white">
                                Add Party
                            </button>
                        </div>
                    </div>
                    <button type="button" onclick="updateElection()"
                        class="w-full bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-blue-800 text-white">
                        Save Changes
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Dialog for Adding/Editing Party -->
    <div data-dialog-backdrop="dialog" data-dialog-backdrop-close="true"
        class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
        <div data-dialog="dialog" class="relative m-4 p-4 w-3/5 min-w-[60%] max-w-[60%] rounded-lg bg-white shadow-sm">
            <div class="flex shrink-0 items-center pb-4 text-xl font-medium text-slate-800">
                <span id="dialogTitle">Add Party</span>
            </div>
            <div class="relative py-4 leading-normal text-slate-600 font-light">
                <label for="newPartyName" class="block mb-2 text-sm font-medium text-gray-900">Party Name</label>
                <input type="text" id="newPartyName"
                    class="mt-1 block w-full rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 sm:text-sm bg-white text-gray-900 p-2"
                    placeholder="Enter Party Name">
                <label for="partyWon" class="block mb-2 mt-4 text-sm font-medium text-gray-900">Seats Won</label>
                <input type="number" id="partyWon"
                    class="mt-1 block w-full rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 sm:text-sm bg-white text-gray-900 p-2"
                    placeholder="Seats Won">
                <label for="partyLeading" class="block mb-2 mt-4 text-sm font-medium text-gray-900">Leading</label>
                <input type="number" id="partyLeading"
                    class="mt-1 block w-full rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 sm:text-sm bg-white text-gray-900 p-2"
                    placeholder="Leading">
                <label for="partyColor" class="block mb-2 mt-4 text-sm font-medium text-gray-900">Party Color</label>
                <input type="text" id="partyColor"
                    class="mt-1 block w-full rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 sm:text-sm bg-white text-gray-900 p-2"
                    placeholder="Party Color">
                
                <div class="mt-6">
                    <h3 class="text-md font-semibold mb-2">Subparties</h3>
                    <div id="subpartiesContainer" class="space-y-4">
                        <!-- Subparties will be added dynamically -->
                    </div>
                    <button type="button" onclick="addSubparty()" 
                        class="mt-4 bg-gray-300 hover:bg-gray-400 px-3 py-2 rounded text-sm">
                        Add Subparty
                    </button>
                </div>
            </div>
            <div class="flex shrink-0 flex-wrap items-center pt-4 justify-end">
                <button data-dialog-close="true" onclick="closeDialog()"
                    class="rounded-md border border-transparent py-2 px-4 text-center text-sm transition-all text-slate-600 hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="button">
                    Cancel
                </button>
                <button onclick="saveParty()" id="dialogSaveButton"
                    class="rounded-md bg-green-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-green-700 hover:bg-green-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
                    type="button">
                    Add
                </button>
            </div>
        </div>
    </div>

        <script>
            let editIndex = -1;
            function showAddPartyDialog(title = 'Add Party') {
                const backdrop = document.querySelector('[data-dialog-backdrop="dialog"]');
                document.querySelector('#dialogTitle').textContent = title;
                backdrop.classList.remove('opacity-0');
                backdrop.classList.add('pointer-events-auto', 'opacity-100');
            }

            function closeDialog() {
                const backdrop = document.querySelector('[data-dialog-backdrop="dialog"]');
                backdrop.classList.remove('pointer-events-auto', 'opacity-100');
                backdrop.classList.add('opacity-0');
                const newPartyName = document.getElementById('newPartyName').value = '';
                const partyWon = document.getElementById('partyWon').value = '';
                const partyLeading = document.getElementById('partyLeading').value = '';
                const partyColor = document.getElementById('partyColor').value = '';
            }

            function addParty() {
                const newPartyName = document.getElementById('newPartyName').value;
                const partyWon = document.getElementById('partyWon').value;
                const partyLeading = document.getElementById('partyLeading').value;
                const partyColor = document.getElementById('partyColor').value;

                if (newPartyName) {
                    const partiesDiv = document.getElementById('parties').querySelector('tbody');
                    const newPartyRow = document.createElement('tr');
                    const index = document.querySelectorAll('#parties tbody tr').length;
                    newPartyRow.id = `party_${index}`
                    newPartyRow.innerHTML = `
                <td>${newPartyName}</td>
                <td>${partyWon}</td>
                <td>${partyLeading || '-'}</td>
                <td>${partyColor || '-'}</td>
                <td class="text-right">
                    <button type="button" onclick="editParty(this)"
                                                        class="bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-green-800 text-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                            class="size-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                                        </svg>
                                                    </button>
                    <button type="button" onclick="removeParty(this)" class="bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-red-800 text-white">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                    </button></td>
            `;
                    partiesDiv.appendChild(newPartyRow);
                    closeDialog(); // Close the dialog after adding the party
                    // Clear input fields
                    document.getElementById('newPartyName').value = '';
                    document.getElementById('partyWon').value = '';
                    document.getElementById('partyLeading').value = '';
                    document.getElementById('partyColor').value = '';
                }
            }

            function saveParty() {
                const newPartyName = document.getElementById('newPartyName').value;
                const partyWon = document.getElementById('partyWon').value;
                const partyLeading = document.getElementById('partyLeading').value;
                const partyColor = document.getElementById('partyColor').value;

                if (!newPartyName) {
                    alert('Please enter a valid party name');
                    return;
                }

                // Create the party object
                const updatedParty = {
                    name: newPartyName,
                    won: partyWon,
                    leading: partyLeading,
                    partyColor: partyColor,
                };

                if (editIndex >= 0) {
                    // Update the existing party at the specified index
                    // election.parties[editIndex] = updatedParty;

                    // Update the row in the table with the new data
                    console.log(editIndex);
                    const row = document.querySelector(`#party_${editIndex}`);
                    console.log(row)
                    row.querySelector('td:nth-child(1)').textContent = updatedParty.name;
                    row.querySelector('td:nth-child(2)').textContent = updatedParty.won;
                    row.querySelector('td:nth-child(3)').textContent = updatedParty.leading || '-';
                    row.querySelector('td:nth-child(4)').textContent = updatedParty.partyColor || '-';

                    editIndex = -1; // Reset the edit index after saving
                } else {
                    addParty()
                }
                editIndex = -1;
                closeDialog(); // Close the dialog after saving
            }

            function removeParty(element) {
                element.closest('tr').remove();
            }

            let editRow = null; // Global variable to store the current row being edited

            function editParty(element, index) {
                // Set the current row being edited
                editRow = element.closest('tr');
                editIndex = editRow.rowIndex - 1;

                // Get the data from the current row
                const partyName = editRow.querySelector('td:nth-child(1)').textContent.trim();
                const partyWon = editRow.querySelector('td:nth-child(2)').textContent.trim();
                const partyLeading = editRow.querySelector('td:nth-child(3)').textContent.trim();
                const partyColor = editRow.querySelector('td:nth-child(4)').textContent.trim();

                // Update the dialog fields with the current row data
                document.getElementById('newPartyName').value = partyName;
                document.getElementById('partyWon').value = partyWon || '';
                document.getElementById('partyLeading').value = partyLeading === '-' ? '' : partyLeading;
                document.getElementById('partyColor').value = partyColor === '-' ? '' : partyColor;

                // Change the dialog title and button text
                document.getElementById('dialogTitle').textContent = 'Edit Party';
                document.getElementById('dialogSaveButton').textContent = 'Save Changes';

                // Open the dialog
                showAddPartyDialog("Edit Party");
            }

            function updateElection() {
                // Get form values
                const state = document.getElementById('state').value;
                const totalSeats = document.getElementById('totalSeats').value;
                const declaredSeats = document.getElementById('declaredSeats').value;
                const halfWayMark = document.getElementById('halfWayMark').value;

                if (!state || !totalSeats || !declaredSeats || !halfWayMark) {
                    alert('Please fill in all the required fields.');
                    return;
                }

                // Get party data
                const parties = [];
                document.querySelectorAll('#parties tbody tr').forEach((row) => {
                    const name = row.querySelector('td:nth-child(1)').textContent.trim();
                    const won = row.querySelector('td:nth-child(2)').textContent.trim();
                    const leading = row.querySelector('td:nth-child(3)').textContent.trim();
                    const partyColor = row.querySelector('td:nth-child(4)').textContent.trim();
                    parties.push({ name, won: parseInt(won, 10), leading: parseInt(leading, 10), partyColor });
                });

                // Construct the updated election data object
                const updatedElection = {
                    state,
                    totalSeats: parseInt(totalSeats, 10),
                    declaredSeats: parseInt(declaredSeats, 10),
                    halfWayMark: parseInt(halfWayMark, 10),
                    parties,
                };

                const electionId = "<%= election._id %>";
                // Send the data to the API
                fetch(`/api/elections/${electionId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(updatedElection),
                })
                    .then(async (response) => {
                        if (!response.ok) {
                            const errorResponse = await response.json();
                            throw new Error(errorResponse.message || 'Failed to update election');
                        }
                        return response.json();
                    })
                    .then((data) => {
                        console.log('Election updated successfully:', data);
                        alert('Election updated successfully!');
                        window.location.replace('/dashboard')
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        alert('Failed to update election');
                    });
            }

        </script>
</body>

</html>